@{
    Layout = null;
}
@* ReSharper disable once RedundantUsingDirective *@
@using System
@*require 'using System' so RazorLight can parse DateTime*@
@model string

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hello @Model!</p>
    <p>It is now @DateTime.Now.ToShortTimeString().</p>
</body>
</html>